/* CSS Document */

.infocontacto 							{ display:none; }
header 									{
	display:block;
	background:rgba(63,70,78,1);
	border-top:1px solid rgba(72,79,86,1.00);
	padding:0px 10px;
	height:97px;
	text-align:right;
	}
header h1 								{
	display:block;
	cursor:pointer;
	margin:28px 0px;
	padding:0px;
	width:145px;
	height:40px;
	background:url(../imagenes/savant-logo.png) center center no-repeat;
	background-size:contain;
	overflow:hidden;
	white-space:nowrap;
	text-indent:400px;
	float:left;
	}
header + div.GrayContent				{ margin-top:0px; }


nav 									{
	display:block;
	position:absolute;
	right:20px; top:27px;
	padding: 71px 0px 0px 0px;
	background:url(../imagenes/menu-mobile.png) right top no-repeat;
	width:40px;
	height:0px;
	overflow:hidden;
	}
nav:hover 								{
	width: 160px;
	height: 330px;
	overflow: visible;
	}
nav a 									{
	display:block;
	background:rgba(63,70,78,1);
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	padding:13px 22px 13px 15px;
	margin: 0px -20px 0px 0px;
	color: #FFF;
	}
nav a.select 							{ background:rgba(56,62,70,1.00); }
nav a.select:hover						{ background:rgba(56,62,70,1.00); }
nav a:hover								{ background:rgba(56,62,70,0.50); }

footer									{ text-align:center; font-size:14px; }
footer ul								{ list-style:none !important; padding:0px !important; }
footer ul li							{ background:none !important; padding:0px !important; }
.siguenos								{ display:block; width:100% !important; }
.visitanos								{ display:block; width:100% !important; }
.informacion							{ display:block; width:100% !important; }

h1										{ font-size:24px; line-height:26px; }
h2 small 								{
	display: block;
	font-size: 18px;
	font-weight:normal;
	line-height: 18px;
	color:rgba(56,62,70,0.50);
	}
h2										{
	font-size: 22px;
	letter-spacing: -1px;
	line-height: 22px;
	color: #383E46;
	margin-bottom: 15px;
	}
h4										{ font-size:16px; }

.warp 									{ display:block; padding:0px 15px; }
.fright									{ display:block; }
.GrayContent 							{ display:block; background:#E1E2E3; padding:20px 0px 30px 0px; margin:20px 0px; }

#MainSlide 								{
	display: block;
	height: 175px;
	background: url(../imagenes/slides/banner-principal.jpg) center center no-repeat;
	background-size:150% auto;
	}
	
.ArticleList .ItemList					{
	background:url(../imagenes/bullet-02.png) left 3px no-repeat;
	padding-left:25px;
	}
.ArticleList .ItemList h3				{ margin-bottom:0px; }
.ArticleList .ItemList h3 a				{
	font-size:18px;
	color:rgba(63,70,78,1.00);
	}
.ArticleList .ItemList p				{ font-size: 14px; margin-top:0px; }

.imagenLink								{
	display:block;
	width:auto !important;
	background:rgba(56,62,70,0.30);
	font-size:13px;
	color:rgba(56,62,70,1.00);
	padding:10px;
	margin:0px auto;
	}
.imagenLink	h4							{ margin:0px; font-size:14px; }
.imagenLink	img							{ display:block; margin:5px auto; width:100%; }
.imagenLink	a							{ color:#000; }



/* ESTILOS ESPECIFICOS DE PAGINA */
#TratamientosAlopecia aside 			{
	display: block;
	background: rgba(56,62,70,1);
	text-align: center;
	padding: 30px 15px;
	margin-top:40px;
	}
#TratamientosAlopecia aside p 			{
	font-size:17px;
	margin-bottom:0px;
	color:#FFF;
	}
#TratamientosAlopecia aside p strong 	{
	font-size:17px;
	font-weight:bold;
	margin-bottom:0px;
	color:#FFF;
	}
#TratamientosAlopecia aside small 		{
	display:block;
	font-size:12px;
	line-height:12px;
	margin:5px 0px 15px 0px;
	color:#C4C5C7;
	}
#TratamientosAlopecia aside big 		{
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:24px;
	text-transform:uppercase;
	letter-spacing:-1px;
	line-height:24px;
	margin:30px 0px 0px 0px;
	color:#FFF;
	}
#TratamientosAlopecia aside strong 		{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:20px;
	text-transform:uppercase;
	line-height:20px;
	margin:0px;
	color:#C4C5C7;
	}

#ArticulosAlopecia						{ margin-top:50px; margin-bottom:50px; }

#Testimonios							{ position:relative; border-bottom:2px solid #CCC; }
#Testimonios h2							{ margin-top:0px; }
#Testimonios .controles					{
	display:block;
	position:absolute;
	right:0px;
	top:36px;
	height:17px;
	margin:0px;
	}
#Testimonios .controles	.prev			{
	display:inline-block;
	background:url(../imagenes/controls-prev-01.png) center center no-repeat;
	width:17px;
	height:17px;
	cursor:pointer;
	text-indent:20px;
	overflow:hidden;
	margin-right:2px;
	}
#Testimonios .controles	.next			{
	display:inline-block;
	background:url(../imagenes/controls-next-01.png) center center no-repeat;
	width:17px;
	height:17px;
	cursor:pointer;
	text-indent:20px;
	overflow:hidden;
	margin-left:2px;
	}
#Testimonios .Testimonio				{ text-align:left; }
#Testimonios .Testimonio img			{ display:block; margin:0px 10px 0px 0px; float:left; }
#Testimonios .Testimonio p.frase		{ margin-left:0px; font-style:italic; font-size:14px; padding-right:0px; }
#Testimonios .Testimonio p.nombre		{ margin-left:0px; font-size:14px; font-weight:bold; }
#Testimonios .Testimonio p.nombre small	{ font-size:12px; font-weight:normal; }

#EscalaHamilton 						{ width:100%; }

.PorQueSavant 							{
	display:block;
	background:rgba(56,62,70,1.00);
	margin:0px 0px 50px 0px;
	padding:25px;
	color:rgba(255,255,255,1);
	box-shadow:rgba(56,62,70,.2) 8px 8px 0px;
	text-align:center;
	}
.PorQueSavant h3 						{
	font-family:'Open Sans', sans-serif;
	color:#FFF;
	text-shadow:rgba(0,0,0,.2) 3px 3px 1px;
	font-size:21px;
	font-weight:normal;
	letter-spacing:-1px;
	line-height:24px;
	margin:0px 0px 0px 0px;
	}
.PorQueSavant h3 strong 				{ font-size:25px; }
.PorQueSavant p 						{
	text-align:center;
	font-size:14px;
	}
.PorQueSavant p strong 					{
	font-family:'Open Sans', sans-serif;
	font-weight:normal;
	text-shadow:rgba(0,0,0,.2) 3px 3px 1px;
	line-height:24px;
	letter-spacing:-1px;
	font-size:22px;
	}
.PorQueSavant p strong big 				{
	font-family:'Open Sans', sans-serif;
	font-weight:bold;
	font-size:26px;
	text-transform:uppercase;
	}

#LogoIshrs								{
	display:block;
	margin:0px auto 20px auto;
	width:75%;
	}



.Doctor									{
	display:block;
	font-size:12px;
	color:rgba(56,62,70,1.00);
	}
.Doctor	h4								{ font-size:19px; margin:0px 0px 10px 0px; }
.DoctorLeft								{
	background: url(../imagenes/backgrounds/doctor-demo.png) -270px 25px no-repeat;
	background-size: auto 250px;
	}
.DoctorRight							{
	background:url(../imagenes/backgrounds/doctor-demo2.png) -630px 25px no-repeat #E1E2E3;
	background-size: auto 250px;
	}
.DoctorLeft	.warp						{ padding:285px 20px 40px 20px !important; }
.DoctorRight .warp						{ padding:285px 20px 40px 20px !important; }

#Servicios								{ padding:20px 0px 20px 0px; }
#Servicios article						{ display:block; text-align:center; margin-bottom:50px; }
#Servicios article img					{ width:100% !important; height:auto !important; }
#Servicio_ImplanteCapilar				{ width:90%; margin:0px auto 0px auto; }
#Servicio_Criopolisis					{ width:90%; margin:0px auto 0px auto; padding-top:0px; }
#Servicio_Botox							{ width:90%; margin:0px auto 0px auto; padding-top:0px; }






/* FORMULARIOS */
#ContactoPrincipal						{ display:block; width:100%; padding:50px 0px; }
.FormField								{ display:block; position:relative; margin:0px 0px 7px 0px; }
.FormField label						{
	display:block;
	text-transform:uppercase;
	font-family:'Open Sans', sans-serif;
	font-size:11px;
	color:rgba(56,62,70,0.70);
	position:absolute;
	left:10px; 
	top:5px;
	}
.FormField input[type=text],
.FormField input[type=email],
.FormField input[type=tel],
.FormField select,
.FormField textarea						{
	display:block;
	box-shadow:rgba(56,62,70,0.10) 3px 3px 0px;
	border:1px solid rgba(56,62,70,0.50);
	border-radius:3px;
	padding:20px 2% 5px 2%;
	font-family:'Open Sans', sans-serif;
	font-size:16px;
	width:95%;
	}
.FormField select						{ width:99%; }
.FormField textarea						{ height:150px; }
.FormField input[type=submit]			{
	display:inline-block;
	background:url(../imagenes/button-01.png) center right no-repeat;
	font-size:12px;
	text-decoration:none;
	text-transform:uppercase;
	color:rgba(255,255,255,1.00);
	padding:9px 45px 9px 20px;
	border-radius:5px;
	border:none;
	overflow:hidden;
	margin:10px 0px 0px 0px;
	cursor:pointer;
	}






























